<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <h1>
            {% block header %}Mon super site{% endblock %}
        </h1>
        <p>
            {% if app.user %}

            Bonjour {{ app.user.username }} - <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                On se connaît ? <a href="{{ path('app_login') }}">Se connecter</a>

            {% endif %}
        </p>
        {% block body %}{% endblock %}
        {% block footer %}
            <p>Pied de page</p>
        {% endblock %}
    </body>
</html>
