{% extends 'base.html.twig' %}

{% block title %}Edit Marque{% endblock %}

{% block body %}
    <h1>Edit Marque</h1>

    {{ include('marque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_marque_index') }}">back to list</a>

    {{ include('marque/_delete_form.html.twig') }}
{% endblock %}
